<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GadgetLoader.Properties.Settings.SimDBdevConnectionString"
            connectionString="Data Source=WIN-6UCNLJ1OVO3;Initial Catalog=SimDBdev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>